.edit-profile-main {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  border-top: var(--border-line);
  padding-top: 50px;
}

.edit-profile-left {
  width: 330px;
  height: 555px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-profile-left > button {
  margin-top: 20px;
  border: none;
  color: #414141;
  background: none;
  cursor: pointer;
}
.edit-profile-left > img {
  height: 180px;
  width: 180px;
  margin-top: 31.7px;
}

.edit-profile-left > span {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  margin-top: 19.3px;
}
.edit-profile-right {
  width: 1080px;
}

.edit-profile-title {
  color: #414141;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 25px;
  border-bottom: var(--border-line);
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.edit-profile-title > span {
  border-bottom: 1px solid #414141;
  padding-bottom: 25px;
}
.edit-profile-title:nth-child(3),
.edit-profile-title:nth-child(5) {
  margin-top: 70px;
}

.edit-profile-title:nth-child(7) {
  margin-top: 60px;
}
.edit-profile-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.edit-profile-input {
  margin-bottom: 0;
}
.edit-profile-input > label,
.edit-profile-textarea > label,
.edit-profile-select > label {
  font-size: 15px;
  font-weight: bold;
  color: #414141;
}
.edit-profile-input > input {
  width: 525px;
  height: 38px;
}
.edit-profile-textarea {
  margin-bottom: 0;
}
.edit-profile-textarea > textarea {
  width: 1080px;
  height: 120px;
}
.edit-profile-select {
  width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-profile-select > select {
  height: 38px;
}
.edit-profile-skills {
  border: var(--border-line);
  display: flex;
  flex-direction: column;
  padding: 13px 15px;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}



/* .edit-profile-skills > input {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 15px;
}

.edit-profile-skills > span {
  border: var(--border-line);
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.edit-profile-skills > span > button {
  border: none;
  background: none;
}

.edit-profile-skills > span > div {
  width: max-content;
} */
.edit-profile-add-skills {
  width: 135px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #757575;
  background-color: #fff;
  color: #757575;
  font-size: 16px;
  /* margin-top: 20px; */
}
.edit-profile-add-div {
  margin-top: 20px;
}
.edit-profile-save-div {
  margin: 70px 0 100px 0;
  display: flex;
  justify-content: flex-end;
}
.edit-profile-btn-save {
  border-radius: 24px;
  border: solid 2px #f88634;
  background-color: #fff;
  color: #f88634;
  font-size: 17px;
  height: 48px;
  width: 109px;
}
.edit-profile-modal-inp > input {
  height: 38px;
  width: 525px;
}
.edit-modal-cancel-btn {
  height: 48px;
  width: 119px;
  border: 2px solid #757575;
  color: #757575;
}
.edit-modal-change-btn {
  border: solid 2px #f88634;
  color: #f88634;
  height: 48px;
  width: 189px;
}
.edit-profile-modal-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.contactus-modal-input > label {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: bold;
}
.contactus-modal-input > input {
  width: 525px;
  height: 38px;
}
.contactus-modal-textarea {
  font-weight: bold;
}
.contactus-modal-textarea > textarea {
  width: 525px;
  height: 95px;
}
.contactus-modal-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.contactus-modal-change-btn {
  height: 48px;
  width: 109px;
  border: solid 2px #f88634;
  color: #f88634;
}

.add-skills-modal > div:nth-child(1) {
  display: flex;
  gap: 20px;
  height: 800px;
}

.add-skills-modal > div:nth-child(1) > div:nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}
.add-skills-modal > div:nth-child(1) > div:nth-child(1) > div {
  box-sizing: border-box;
}
.add-skills-modal > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.add-skills-modal > div:nth-child(1) > div:nth-child(1),
.add-skills-modal > div:nth-child(1) > div:nth-child(3) {
  width: 400px;
  border: var(--border-line);
  /* line-height: 2.14; */
  padding: 20px 0 20px 0;
}
.each-skill {
  height: 27px;
  text-align: left;
  font-size: 14px;
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.each-skill:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}
.add-skill-modal-btn {
  margin-top: 20px;
  display: flex;

  gap: 10px;
}
