.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aquamarine; */
  height: 72px;
  /* width: 100vw; */
  padding: 0 240px;
  box-sizing: border-box;
}
.navbar-list {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
  font-size: 16px;
}
.navbar-profile {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.profile-img {
  height: 100%;
}
.navbar-profile-drop-div {
  min-width: 150px;
}
/* Searchbar CSS */
.searchbar {
  height: 78px;
  padding: 0 240px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  /* box-sizing: border-box; */
}
.searchbar div:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.search-div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}
.searchbar-input {
  height: 97%;
  border: none;
  width: 100%;
  padding-left: 15px;
}
.searchbar-input:focus {
  outline: none;
  font-size: 20px;
}
.searchbar-input::-webkit-input-placeholder {
  font-size: 20px;
  color: #757575;
}
.searchbar-items {
  min-width: 180px;
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.tagbar {
  display: flex;
  gap: 10px;
  padding: 20px 0 0 0;
  flex-wrap: wrap;
}
.tag-btn {
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  padding: 5px 5px 5px 15px;
  background-color: #fff;
  /* height: 28px; */
  font-size: 13px;
}
.tag-close {
  background: none;
  border: none;
}
.close-svg {
  width: 10px;
  color: #333;
}
.clear-btn {
  color: #767676;
}

.missionbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mission-span {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.mission-span > span {
  font-size: 28px;
  font-weight: bold;
}
.mission-right {
  display: flex;
}
.mission-sort {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-right: 40px;
}
.mission-sort > div > select {
  padding: 0;
  height: 38px;
  width: 171px;
  padding-left: 10px;
  font-size: 14px;
  color: #414141;
}
.mission-grid-btn {
  /* background-color: #e8e8e8; */
  background: transparent;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.active-view {
  background-color: #e8e8e8;
}
.bg-none {
  background: none;
}
.mission-grid-btn > img {
  height: 22px;
  width: 22px;
}

.mission-listing-location,
.mission-listing-favourite,
.mission-listing-share {
  position: absolute;
  width: 460px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.mission-listing-location {
  padding: 15px 15px 15px 0;
  justify-content: space-between;
}
.mission-listing-favourite {
  padding: 110px 15px 0 0;
}
.mission-listing-share {
  padding: 163px 15px 0 0;
}

.mission-listing-location > div {
  background-color: #10aa3a;
  color: #fff;
  display: flex;
  align-items: center;
  min-width: 80px;
  padding-left: 15px;
  border-bottom-right-radius: 17.5px;
  border-top-right-radius: 17.5px;
}
.mission-listing-location > button {
  padding: 10px;
  height: 35px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border-radius: 17.5px;
  border: none;
  background-color: #000;
  opacity: 0.5;
}
.mission-listing-favourite > button,
.mission-listing-share > button {
  height: 42px;
  background-color: #000;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission-listing-share > button > img,
.mission-listing-favourite > button > img {
  height: 70%;
  width: 100%;
}
.mission-listing-main {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 20px;
}
.mission-listing-div {
  margin-top: 25px;
  width: 460px;
  height: 618px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}

.listing-block {
  width: 460px;
  height: 220px;
}
.listing-block > img {
  width: inherit;
  height: 100%;
  object-fit: cover;
}
.theme {
  padding: 7px 15px;
  border-radius: 17.5px;
  background-color: #fff;
  font-size: 16px;
  position: relative;
  top: -10px;
}
.listing-title {
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  text-align: left;
  color: #414141;
  margin: 0;
  margin-top: 30px;
  padding: 0 30px;
}
.listing-description {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #757575;
  padding: 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listing-short-description {
  height: 40px;
}
.listing-long-description {
  height: 100px;
}
.organisation-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  text-align: left;
  padding: 0 30px;
  box-sizing: border-box;
}
.organisation-div > p {
  margin: 0;
  font-weight: bold;
}
.mission-dates {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  border-radius: 17.5px;
  font-size: 15px;
  width: 100%;
  background-color: #fff;
}
.seats-div {
  padding: 15px 30px 0 30px;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.seats-div-left {
  min-width: 100px;
  display: flex;
  justify-content: flex-star;
  align-items: center;
  gap: 10px;
}
.seats-div-left > div {
  /* width: 26px;
  height: 25px;
  margin-top: 5px; */
}
.already-volunteered {
  display: flex;
  flex-direction: column;

  text-align: left;
}
.already-volunteered > span {
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}
.already-volunteered > p {
  margin: 0;
  font-size: 14px;
}

.listing-footer {
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.apply-btn {
  background: none;
  width: auto;
  height: 48px;
  border-radius: 24px;
  font-size: 17px;
  color: #f88634;
  border: 2px solid #f88634;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
.apply-btn > img {
  margin-left: 15px;
}

/* ---------List view---------- */
.imagediv {
  height: 220px;
}
.mission-listing-main-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.mission-listing-div-list {
  margin-top: 25px;
  width: 100%;
  height: 220px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}
.mission-listing-body {
  height: 398px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mission-listing-body-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 0;
  box-sizing: border-box;
}
.mission-dates-div {
  position: relative;
  top: 11px;
}
.listing-title-list {
  text-align: left;
  padding: 0 30px;
  margin: 0;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
  color: #414141;
}

.listing-desp-list {
  height: 20px;
  margin-top: 0;
}
.left-footer-list {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
.footer-list {
  display: flex;
  padding: 0 30px;
  align-items: flex-end;
}
.listing-footer-list {
  /* height: 0; */
  /* height: 92px; */

  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}
.seats-div-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.seats-div-list .already-volunteered > span {
  /* color: red; */
  font-weight: normal;
  font-size: 16px !important;
}

.mission-dates-div-list {
  text-align: left;
  min-width: 175px;
}
.mission-dates-div-list > span {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  text-align: left;
  width: 100%;
  padding: 0;
}
.organisation-div > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 20px;
  font-weight: bold;
  opacity: 0.8;
}
.organisation-div > div > span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.organisation-div > div > span > img {
  width: 20px;
}
.skills-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.skills-list > div > img {
  width: 20px;
}
.skills-list > div:nth-child(1) {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.skills-list > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.deadline > div:nth-child(2) > span {
  font-weight: normal !important;
  font-size: 16px !important;
}
