.privacy {display: flex;justify-content: center;border-top: 1px solid #7575754b;}
.privacy-div {width: 1126px;}
.privacy-div>div{display: flex;gap: 50px;}
.privacy-title {color: #333;font-size: 40px;
  font-weight: bold;
  margin: 60px 0 50px 0;
  text-align: left;
  font-family: "Noto Sans", sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 40px;
}
.points-div {width: 250px;}
.privacy-points {list-style: none;display: flex;padding: 0;margin: 0;flex-direction: column;
  text-align: left;
  font-size: 14px;
}
.privacy-points > li {padding: 16px 0;border-bottom: 1px solid #7575754b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.actve-point{font-weight: bold;}
.right-side-div{width: 826px;text-align: left;}
.right-side-div>div{border-bottom: 1px solid #7575754b;margin-bottom: 49px;}
.points-title{color: #333;text-align: left;font-size: 28px;font-weight: bold;
    margin:0 0 29px 0;}
.points-para{text-align: left; margin: 0 0 45px 0;}
.optimy{font-size: 20px;}
.points-li{font-size: 15px;line-height: 2.13;}
/* .counter-reset{counter-reset: item; }
.counter-reset>li{display: table;}
.counter-reset>li::before{content: counters(item, ".") ". "; counter-increment: item} */
.headings{color: #414141;}
.headings>p:nth-child(1){font-size: 26px;}
.headings>p:nth-child(2){font-size: 22px;}
.headings>p:nth-child(3){font-size: 18px;}
.headings>p:nth-child(4){font-size: 16px;}
.headings>p:nth-child(5){font-size: 14px;}
.headings>p:nth-child(6){font-size: 12px;}