/*                Admin CSS                    */
.admin {
  display: flex;
}
.admin-right {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.admin-right-common {
  box-sizing: border-box;
  padding: 50px 42px 0 29px;
}

/*            Admin edit part                        */
.admin-edit-div {
  width: 100%;
  height: 100%;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.06);
}

.admin-edit-title {
  height: 65px;
  font-size: 22px;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 37px;
  border: solid 1px #e8e8e8;
  background-color: #f8f9fc;
}
.admin-edit-layout {
  padding: 0 0 54px 31px;
}

.admin-edit-title-input {
  margin-top: 31px;
}
.admin-edit-title-input > label,
.admin-edit-quill > label,
.admin-edit-status > label {
  font-size: 15px;
}
.admin-edit-quill > .quill {
  margin-top: 10px;
}
.admin-edit-quill {
  text-align: left;
}
.admin-edit-quill > div {
  height: 589px;
}

.admin-edit-title-input > input {
  height: 38px;
  padding: 0 0 0 15px;
  width: 100%;
}
.admin-edit-status {
  text-align: left;
}
.admin-edit-cms-btn {
  display: flex;
  justify-content: end;
  margin: 34px 0 24px 0;
  gap: 10px;
}

/*                  UserPage CSS                   */

.admin-search-plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-add-class {
  margin: 0;
  height: 48px;
  width: 98px;
  color: #f88634;
  border: 2px solid #f88634;
}
.admin-add-class > img {
  height: 13px;
}
.user-table-div {
  /* min-height: 711px; */
  height: 100%;
}
.admin-user-table,
tr {
  border: 1px solid #d9d9d9;
}
.admin-user-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
  text-align: left;
}
.admin-user-table th,
.admin-user-table td {
  padding: 12px 30px;
}

th:last-child,
td:last-child {
  text-align: right;
}

.admin-user-table-head {
  height: 80px;
  font-size: 22px;
  box-sizing: border-box;
  padding: 36px 25px 22px 30px;

  background-color: #f8f9fc;
}
.admin-user-table-body {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
tr > td > h4 {
  text-align: center;
}
.admin-user-table-body > tr > td > button {
  border: none;
  background: none;
  cursor: pointer;
}
.admin-user-table-body > tr {
  height: 60px;
}
.admin-user-pagination {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin: 33px 0 60px 0;
}

.admin-user-pagination > div {
  border: 1px solid #e8e8e8;
  height: 34px;
  min-width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.admin-user-pagination > div > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}
.admin-no-data {
  text-align: center;
}

/*             CMSPage CSS            */
.admin-delete-modal-msg {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  display: block;
  text-align: left;
}
.admin-delete-btn-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 55px;
}
.admin-delet-cancel-btn > button {
  cursor: pointer;
}
.admin-delet-cancel-btn {
  width: 119px;
  height: 48px;
}
.admin-delet-delete-btn {
  width: 109px;
  height: 48px;
}
.admin-delet-delete-btn > button {
  border-color: #f88634;
  color: #f88634;
  cursor: pointer;
}

/*             Navigation CSS            */

.admin-navigation {
  background-color: #f88634;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  gap: 10px;
}
.admin-navigation > span {
  color: #fff;
  margin-top: 54px;
  margin-bottom: 21px;
  font-size: 16px;
  text-align: left;
  width: 290px;
}
.admin-navigation-common.active {
  color: #f88634;
  background-color: #fff;
}
.admin-navigation-common {
  text-decoration: none;
  color: #fff;
  width: 290px;
  height: 54px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 30px;
  padding: 17px 20px 17px 20px;
  box-sizing: border-box;
}
.admin-navigation-item-dark {
  box-shadow: 3px 5.2px 10px 0 rgba(16, 68, 107, 0.16);
  color: #f88634;
  background-color: #fff;
}

/* Header CSS */
.admin-header {
  box-shadow: 3px 5.2px 10px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 43px 15px 29px;
}
.header-profile {
  display: flex;
  align-items: center;
}
.header-profile > img {
  height: 40px;
  width: 40px;
}
