.normal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
}
.normal > label {
  margin-bottom: 10px;
}
.normal-date {
  background-image: url(../Assets/signs/calender.png);
  background-repeat: no-repeat;
  background-position: 473px 6px;
  background-size: 23px 21px;
}
.normal > input,
.normal > textarea {
  font-size: 16px;
  box-sizing: border-box;
  width: 401px;
  height: 56px;
  padding: 15px 20px;
}
.normal-select > select > option {
  color: #757575;
  height: 2rem;
  padding: 1rem;
}
.normal-select > select {
  color: #757575;
}
/* .normal > input:focus, */
.normal > input,
.normal > textarea,
.normal-date,
.normal-select > select {
  outline: none;
  border-radius: 3px;
  box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d9d9d9;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../Assets/signs/calender.png") no-repeat;
  background-size: 23px 21px;
  border-width: thin;
}
.upload-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  margin-bottom: 30px;
}
.upload-input > label {
  margin-bottom: 10px;
}
.upload-input > button {
  height: 120px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: #414141;
  font-family: "Noto Sans", sans-serif !important;
  border-radius: 3px;
  box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d9d9d9;
}
.upload-input > span {
  margin-top: 15px;
  font-size: 14px;
  color: #737373;
}

.preview-img {
  height: 100%; /* object-fit: contain; */
  width: 100%;
  object-fit: contain;
}

.normal-btn {
  height: 48px;
  color: #f88634;
  border: 2px solid #f88634;
  margin: 10px 0 20px 0;
}
.normal-btn-common {
  width: 100%;
  background: none;
  border-radius: 24px;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-img{
  margin-right: 10px;
}
.arrow-img {
  margin-left: 20px;
}

.normal-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  align-items: flex-start;
}
.normal-select > label {
  margin-bottom: 6px;
  font-size: 15px;
  color: #414141;
}
.normal-select > select {
  width: 100%;
  height: 38px;
}

/* Dropdown CSS */

.dropdown-select {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../Assets/signs/admin-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding: 1rem;
  padding-right: 2rem;
}
/* .dropdown-select {
} */
.dropdown-select > option {
  padding: 50px;
  margin: 50px;
}
.dropdown-select:focus-visible {
  outline: none;
}
.dropdown-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dropdown-option {
  padding: 50px !important;
  margin: 50px !important;
}

.progressbar {
  width: 220px;
  height: 10px;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin-top: 10px;
}
.filled {
  height: 10px;
  border-radius: 5px;
  background-color: #f88634;
}
.goal {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
}

.goal > div > img {
  height: 24px;
  width: 24px;
}
.goal > div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
}
.goal > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.goal > div > span {
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
}
.deadline,
.deadline > div:nth-child(2) {
  text-align: left;
  display: flex;
}
.deadline {
  gap: 10px;
}
.deadline > div:nth-child(2) {
  flex-direction: column;
}
.deadline > div:nth-child(2) > span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.deadline > div:nth-child(2) > span:nth-child(2) {
  font-size: 14px;
}
.border-btn {
  height: 50px;
  width: 320px;
}
.border-inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
  color: #757575;
  background: none;
  border-radius: 25px;
  border: 2px solid #757575;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: bold;
}
.border-inner > img {
  width: 23px;
  height: 20px;
}
.empty-star {
  height: 22px;
}
.rating-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 5px;
}
.info-class {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 130px;
  width: 153px;
  padding: 16px 16px 18px 16px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* line-height: 1.47; */
}
.info-class > div:nth-child(2) > span:nth-child(1) {
  font-size: 13px;
  color: #757575;
}
.info-class > div:nth-child(2) > span:nth-child(2) {
  font-size: 15px;
  color: #414141;
  font-weight: bold;
}
.info-class > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

/* CustomModal CSS */

.modal-outer::-webkit-scrollbar {
  width: 0;
}
.modal-outer {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal-inner {
  top: 160px;
  position: relative;
  width: 580px;
  height: auto;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20rem;
}
.modal-close-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.modal-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.modal-title-div > span {
  font-weight: bold;
  color: #414141;
  font-size: 22px;
}

/* Titlehead CSS */

.title-head {
  color: #333;
  font-size: 30px;
  text-align: left;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
}
.title-head > span {
  padding-bottom: 14px;
  border-bottom: 1px solid #333;
}

/* Searchbar CSS */
.search-bar{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  width: 400px;
  padding: 16px 13px 16px 13px;
  border-radius: 3px;
  box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d9d9d9;
  background-color: #fff;
  margin: 30px 0;
}
.search-bar>input{
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
}