.normal {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
}
.normal > label {
  margin-bottom: 10px;
}
.normal > input {
  font-size: 16px;
  box-sizing: border-box;
  width: 401px;
  height: 56px;
  padding: 15px 20px;
}

.normal > input:focus {
  outline: none;
  border: 1px solid #2b64b1;
  border-radius: 3px;
}

.normal-btn {
  background: none;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  font-size: 17px;
  color: #f88634;
  border: 2px solid #f88634;
  margin: 10px 0 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal-btn > img {
  margin-left: 20px;
}

/* Dropdown CSS */

.dropdown-select {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../Assets/signs/admin-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding: 1rem;
  padding-right: 2rem;
}
/* .dropdown-select {
} */
.dropdown-select > option {
  padding: 50px;
  margin: 50px;
}
.dropdown-select:focus-visible {
  outline: none;
}
.dropdown-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dropdown-option {
  padding: 50px !important;
  margin: 50px !important;
}

.progressbar {
  width: 220px;
  height: 10px;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin-top: 10px;
}
.filled {
  height: 10px;
  border-radius: 5px;
  background-color: #f88634;
}
.goal {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
}

.goal > div > img {
  height: 24px;
  width: 24px;
}
.goal > div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
}
.goal > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.goal > div > span {
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
}
.deadline,
.deadline > div:nth-child(2) {
  text-align: left;
  display: flex;
}
.deadline{
  gap: 10px;
}
.deadline > div:nth-child(2) {
  flex-direction: column;

}
.deadline > div:nth-child(2)>span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.deadline > div:nth-child(2)>span:nth-child(2) {
  font-size: 14px;
}