.share-story-body {
  padding: 58px 240px 0 240px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.share-story-title {
  font-size: 40px;
  text-align: left;
  display: block;
  color: #414141;
  margin-bottom: 39px;
}
.share-story-form-top {
  display: flex;
  gap: 30px;
}

.share-story-title-input,
.share-story-date,
.share-story-video-url {
  width: 100%;
}
.share-story-title-input > input,
.share-story-date > input,
.share-story-video-url > input {
  height: 38px;
  width: 100%;
}
.share-story-select-mission > label,
.share-story-title-input > label,
.share-story-date > label,
.share-story-video-url > label,
.share-story-upload > label {
  margin-bottom: 6px;
  font-size: 15px;
  color: #414141;
}
.share-story-date > input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.share-story-quill {
  height: 229px;
  margin-bottom: 71px;
}
.share-story-quill .ql-toolbar {
  text-align: left;
}

.share-story-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.share-story-upload > button {
  width: 100%;
  box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d9d9d9;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}
.share-story-images {
  padding-top: 20px;
  width: 100%;
  text-align: left;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.share-story-images > span {
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
}
.share-story-images > span > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.share-story-images > span > button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
.share-story-images > span > button > img {
  height: 100%;
  width: 100%;
}
.submit-form-btn {
  border: solid 2px #f88634;
  color: #f88634;
  height: 48px;
  width: 109px;
}
.cancel-form-btn {
  height: 48px;
  width: 119px;
  border: 2px solid #757575;
  color: #757575;
}
.share-story-form-btns {
  margin-bottom: 50px;
  margin-top: 32px;
}
.share-story-form-btns,
.share-story-form-btns > div {
  display: flex;
  justify-content: space-between;
}
.share-story-form-btns > div {
  gap: 10px;
}
