.home-main {
  min-height: 100vh;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.home-hero {
  height: 100%;
}
.pagination-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 80px 0;
}
.pagination {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.page,
.next,
.previous-class,
.pagination-div > div {
  border: 1px solid #e8e8e8;
  height: 34px;
  min-width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.page {
  width: 100%;
}
.page-link,
.active-link-page,
.previous-link,
.next-link {
  width: 100%;
}
.next:hover,
.previous-class:hover,
.page:hover {
  cursor: pointer;
}
.pagination-div > div > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}
.active-page {
  background-color: #f88731;
  color: #fff;
  border: none;
}
.main-footer {
  margin-top: auto;
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 240px;
}
.main-footer > a {
  text-decoration: none;
  color: #414141;
  font-size: 14px;
}
.cookies {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 150px;
  opacity: 0.9;
  padding: 0 240px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cookies > div > p {
  color: #fefefe;
  font-size: 16px;
  margin: 0;
}
.cookies > div {
  text-align: left;
}
.cookies > div > a {
  color: #f88634;
}
.cookie-btn {
  width: 120px;
  background: none;
  height: 48px;
  border-radius: 24px;
  font-size: 17px;
  color: #f88634;
  border: 2px solid #f88634;
  margin: 10px 0 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookie-close-btn {
  position: absolute;
  right: 20px;
  bottom: 115px;
}
.cookie-close-btn > button {
  background: none;
  border: none;
  cursor: pointer;
}
.no-mission {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  font-size: 22px;
  font-weight: bold;
  box-sizing: border-box;
}
.no-mission > button {
  width: auto;
  padding: 22px;
}
