.mission-carousel {
  display: flex;
  gap: 61px;
}
.preview-carousel-outer-div {
  height: 120px;
}
.preview-carousel {
  height: 625px;
  width: 625px;
}

.mission-carousel-div {
  /* height: 120px; */
  width: 155px;
}
.mission-carousel-div > img {
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.mission-slider {
  height: 100%;
}

.mission-slider > button::before {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  width: 20px;
  height: 10px;
  background-color: black;
  right: 0;
  height: 120px;
  z-index: 19;
}

.mission-slider > button:nth-child(1) {
  z-index: 9;
}

.mission-slider > .slick-prev {
  height: 100%;
  width: 20px;
  left: 0;
}
.mission-slider > .slick-next {
  height: 100%;
  width: 20px;
  right: 0;
}
.mission-tabs {
  list-style: none;
  display: flex;
}
.mission-tabs > li {
  padding: 22px;
  border-bottom: 3px solid white;
  font-size: 16px;
  color: #757575;
}
.active-tab {
  border-bottom: 3px solid black !important;
  font-weight: bold;
  color: #414141 !important;
}
.left-mission-carousel {
  width: 720px;
  height: 751px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-mission-carousel > div:nth-child(1) {
  height: 625px;
}
.srrrc {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slick-track {
  display: flex !important;
  gap: 7px;
}
.mission-title {
  margin: 42px 0 0 0;
  font-size: 38px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.mission-subtitle {
  display: inline-block;
  text-align: left;
  margin: 23px 0 0 0;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.mission-objective {
  margin-top: 45px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
}
.mission-objective > span {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  border-radius: 17.5px;
  font-size: 15px;
  position: relative;
  top: -12px;
  width: 100%;
  background-color: #fff;
}
.mission-seates{
  display: flex;justify-content: space-around;align-items: center;
  height: 93px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.fav-buttons{
  display: flex;
  justify-content: space-between;
}